<div class="datetimeslot">
  <span class="datetimeslot__label">
  {{ dateLabel }}
  </span>
    <p-calendar #pcalendar [class]="calendarClassName"
      [(ngModel)]="_date" 
      (ngModelChange)="setDate($event)"
      showButtonBar="false"
      [disabledDays]="disabledDays"
      [dateFormat]="primeDateFormat"
      [placeholder]="placeholder"
      #datepicker
      ></p-calendar>
  <span class="datetimeslot__label">
  {{ startLabel }}
  </span>
    <vt-dropdown [class]="fromTimeSlotClassName"
    [list]="dropdownLists[0]"
    [select]="currentSelection.fromtime"
    (selected)="setTime(FROM_TIME, $event)"
    [placeholderLabel]="startLabel"
    ></vt-dropdown>
  <span class="datetimeslot__label" [attr.data-label]="endLabel">
  {{ endLabel }}
  </span>
    <vt-dropdown [class]="toTimeSlotClassName"
      [list]="dropdownLists[1]" 
      [select]="currentSelection.totime"
      (selected)="setTime(TO_TIME, $event)"
      [placeholderLabel]="endLabel"
      isWide="true" ></vt-dropdown>
  </div>