@import 'utils';
@import 'media';
@import 'color';
@import 'focus';
@import 'font';
@import 'panel-collapsable';
@import 'open-requests';
@import 'container';
@import 'button';

.app-main-wrapper {
  justify-content: center;
  
  @media #{$full-size} {
    width: $full-width;
    margin-left: auto;
    margin-right: auto;
  }
}

.app-main {
  width: 100%;  
}

nav a {
  font-size: rem(14);
  color: #888;
  margin: 0 8px;

  transition: all 300ms;

  &:first-child {
    margin-left: 0;
  }
}

.link--active {
  text-decoration: none;
  user-select: none;
  color: #aaa;
  letter-spacing: 2px;
}

.app-title, 
.section-title {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 18px 0;
  color: #0085ff;
}

.section-title {
  color: orange;
}

.request {
  font-size: rem(14);
  border-radius: 3px;
  padding-bottom: 100px; 

  @media #{$full-size} {
    // min-width: rem(560);
  }
}

/* containers */

* { box-sizing: border-box }


